spring:
  config:
    import: optional:file:.okta.env[.properties]
okta:
  oauth2:
    issuer: ${ISSUER}
    client-id: ${CLIENT_ID}
    client-secret: ${CLIENT_SECRET}
    scope: openid,email,profile
    groupsClaim: groups
